doctype html
html
  head
    title BookLobe
    link(rel='icon' type='image/x-icon' href='../static/favicon.ico')

    block scripts
      script(src='/jquery.js')
    block style 
            style 
                include ../static/home.css
body
    input(type='search' name='search' placeholder='Search Books' )
    nav#navbar
        #logo
            img(src='../static/logo.jpeg' alt='LOGO')
            a#button(href='/login') Login 
        h2 BookLobe
    hr
    ul
        li #[a(href='/') Home]
        li #[a(href='/content') Content]
        li #[a(href='/contact') Contact Us]
        li #[a(href='/about') About Us]
        li #[a(href='/profile') Profile]
    block content
    block foot
        footer This site reserved to &copy www.booklobe.com

