extend base.pug

block scripts 
    script(src='/static/index.js')
block style
        style 
            include ../static/home.css
            include ../static/content.css

block content
    
    .img
        img(src='../static/cont2.jpg' alt='')
    h1 Content
    form(action='')
        button.btn #[a(href='/jee') JEE]
        button.btn
            | NEET
        button.btn
            | Btech.
        button.btn
            | Commerce
        button.btn
            | Commerce
        button.btn
            | Commerce
        button.btn
            | B.Pharma
    br
    br
    br
    br
    br
    br
    br
    br
