extend base.pug

block scripts 
    script(src='/static/index.js')

block style 
        style
            include ../static/home.css
            include ../static/front.css

block content 
    .front
        h3.front
            | BookLobe 
            p A Better place to Learn !!
        img(src='../static/front.jpg' alt='Error Loading Picture')
        hr
        section
            .card
            .card
            .card
        hr
        .img
            img(src='../static/book.jpg' alt='')
        button.btn
            | Bookmarks
        button.btn
            | History
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
  
