extend base.pug

block scripts 
    script(src='/static/index.js')
block style
        style 
            include ../static/home.css
            include ../static/jee.css

block content
    
    h1 Jee
    form(action='')
        button.btn #[a(href='/maths') Maths]
        button.btn
            | Physics
        button.btn
            | Chemistry
    br
    br
    br
    br
    br
    br
    br
    br
