extend base.pug

block scripts 
    script(src='/static/index.js')
block style
        style 
            include ../static/home.css
            include ../static/maths.css

block content

    .container
        .flexbox-container
            #flexbox1.flexbox
                p
                    b RD SHARMA
                img(src='../static/rdsharma.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now
    
            #flexbox2.flexbox
                p
                    b CENGAGE 
                img(src='../static/Cengage.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now
    
            #flexbox3.flexbox
                p
                    b SK GOYAL
                img(src='../static/Skgoyal.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now

            #flexbox4.flexbox
                p
                    b GN BERMAN
                img(src='../static/GN BERMAN.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now
                        
    .container
        .flexbox-container
            #flexbox1.flexbox
                p
                    b RD SHARMA
                img(src='../static/rdsharma.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now
    
            #flexbox2.flexbox
                p
                    b CENGAGE
                img(src='../static/Cengage.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now
    
            #flexbox3.flexbox
                p
                    b SK GOYAL
                img(src='../static/Skgoyal.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now

            #flexbox4.flexbox
                p
                    b GN BERMAN
                img(src='../static/GN BERMAN.jpeg' alt='')
                .foot
                    p.rupee &#x20B9; 499
                    button
                        b Buy Now
        br
        br
        br